<!DOCTYPE html>
{%extends 'testApp/base.html'%}
{%block body_block%}
<div class="jumbotron">
<div class="contanier">
<h1><center>Welcome to Aptitude Exam</center></h1>
</div>
</div>
<form>
<label for="date" style="font-size:20px"><b>If January 1, 1996, was Monday, what day of the week was January 1, 1997?</b></label><br>  
              <input type="radio" id="date" name="date" value="thursday"/>thursday<br> 
              <input type="radio" id="date" name="date" value="wednesday"/>wednesday<br> 
              <input type="radio" id="date" name="date" value="friday"/>friday<br> 
              <input type="radio" id="date" name="date" value="sunday"/>sunday<br> 
<label for="rem" style="font-size:20px"><b>40 % of 280 =?</b></label><br>  
              <input type="radio" id="rem" name="rem" value="112"/>112<br> 
              <input type="radio" id="rem" name="rem" value="116"/>116<br> 
              <input type="radio" id="rem" name="rem" value="115"/>115<br>
              <input type="radio" id="rem" name="rem" value="120"/>120<br>  
<label for="mul" style="font-size:20px"><b>What is the area of a triangle with base 5 meters and height 10 meters?</b></label><br>  
              <input type="radio" id="mul" name="mul" value="20 square meters"/>20 square meters<br> 
              <input type="radio" id="mul" name="mul" value="35 square meters"/>35 square meters<br> 
              <input type="radio" id="mul" name="mul" value="25 square meters"/>25 square meters<br>
              <input type="radio" id="mul" name="mul" value="40 square meters"/>40 square meters<br>
<label for="ratio" style="font-size:20px"><b>A: B: C is in the ratio of 3: 2: 5. How much money will C get out of Rs 1260?</b></label><br>  
               <input type="radio" id="ratio" name="ratio" value="252"/>252<br>
               <input type="radio" id="ratio" name="ratio" value="125"/>125<br> 
               <input type="radio" id="ratio" name="ratio" value="252"/>252<br>
                <input type="radio" id="ratio" name="ratio" value="503"/>503<br>
<label for="pro" style="font-size:20px"><b> What is the probability of getting an even number when a dice is rolled?</b></label><br>  
               <input type="radio" id="pro" name="pro" value="1/5"/>1/5<br>
               <input type="radio" id="pro" name="pro" value="1/2"/>1/2<br>
               <input type="radio" id="pro" name="pro" value="1/3"/>1/3<br>
               <input type="radio" id="pro" name="pro" value="1/4"/>1/4<br>
<label for="mis" style="font-size:20px">  <b>Find the missing term of the given expression:
18.834 + 818.34 -? = 618.43</b></label><br>  
               <input type="radio" id="mis" name="mis" value="217.644"/>217.644<br>
               <input type="radio" id="mis" name="mis" value="218.744"/>218.744<br>
               <input type="radio" id="mis" name="mis" value="217.744"/>217.744<br>
               <input type="radio" id="mis" name="mis" value="217.844"/>217.844<br>
<label for="stock"  style="font-size:20px"> <b>What is the market price of a 9% share when a person gets 180 by investing Rs. 4000?</b></label><br>  
               <input type="radio" id="stock" name="stock" value="150"/>150<br>
               <input type="radio" id="stock" name="stock" value="200"/>200<br>
               <input type="radio" id="stock" name="stock" value="250"/>250<br>
               <input type="radio" id="stock" name="stock" value="300"/>300<br>
<label for="work" style="font-size:20px"><b>If 15 men can reap the crops of a field in 28 days, in how many days will 5 men reap it?</b></label><br>  
               <input type="radio" id="work" name="work" value="50 days"/>50 days<br>
               <input type="radio" id="work" name="work" value="60 days"/>60 days<br>
               <input type="radio" id="work" name="work" value="84 days"/>84 days<br>
               <input type="radio" id="work" name="work" value="9.333 days"/>9.333 days<br>
<label for="cost" style="font-size:20px"><b>The true discount on a bill of Rs. 2700 is Rs. 200. What is the banker's discount?</b></label><br>  
             <input type="radio" id="cost"  name="cost" value="Rs. 210"/>Rs. 210<br>
             <input type="radio" id="cost" name="cost" value="Rs. 212"/>Rs. 212<br>
             <input type="radio" id="cost" name="cost" value="Rs. 216"/>Rs. 216<br>
             <input type="radio" id="cost" name="cost" value="Rs. 218"/>Rs. 218<br>
<label for="series"  style="font-size:20px"><b>Complete the series 2, 5, 9, 19, 37.......</b></label><br>
             <input type="radio" id="series" name="series" value="76"/>76<br> 
             <input type="radio" id="series" name="series" value="74"/>74<br>
             <input type="radio" id="series" name="series" value="75"/>75<br>
             <input type="radio" id="series" name="series" value="none"/>none<br> 
<input type="submit" value="submit">  

</form>   
{%endblock%}