<!DOCTYPE html>
<html lang="en" dir="itr">
<head>
   <meta charset="utf=8">
   <title></title>
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
   <style>
    body{
 color:blue;
   background-repeat: no-repeat;
  background-size: cover;
  background-image: url("https://image.freepik.com/free-vector/beautiful-hand-painted-watercolor-background_1020-1087.jpg");
 }
.jumbotron{
 background: blue;
 color:white;
}
#a{
    color:white;
}
 </style>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light"">
<div class="container">
<div class="navbar-header">
<a class="navbar-brand"  href="/home">JayanthExams</a>
</div>
<div class="collapse navbar-collapse" id="navbarNav">
<ul class="navbar-nav mr-auto">
<div class="navbar-nav">
<a class="nav-item nav-link" href="/python"><b>Python Exam</b></a>
<a class="nav-item nav-link" href="/java"><b>Java Exam</b></a>
<a class="nav-item nav-link" href="/aptitude"><b>Aptitude Exam</b></a>
</div>
</ul>
<ul class ="nav navbar-nav navbar-right">
<li><a class="nav-item nav-link" href="/signup"><b>Sign Up</b></a></li>
<li><a class="nav-item nav-link" href="/accounts/login"><b>Login</b></a></li>
<li><a class="nav-item nav-link" href="/accounts/logout"><b>logout</b></a></li>
</ul>
</div>
</div>
</nav>
{%block body_block%}
{%endblock%}
</body>
</html>