<!DOCTYPE html>
<html lang="en" dir="itr">
<head>
   <meta charset="utf=8">
   <title></title>
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body>
<div class='jumbotron'>
<div class="contanier">
{%extends 'testApp/base.html'%}
{%block body_block%}
<h1>Welcome to Jayanth Exams</h1>
<h2>Rules to write the Exam:</h2>
<ul>
<li>No MalPractice</li>
<li>FullScreen Mode</li>
<li>Camera on</li>
</ul>
</div>
</div>
{%endblock%}
</body>
</html>