<!DOCTYPE html>
{%extends 'testApp/base.html'%}
{%block body_block%}
<div class="jumbotron">
<div class="contanier">
<h1><center>Welcome to Java Exam</center></h1>
</div>
</div>

<form>
 <label for="lang" style="font-size:20px"><b>java is a ___programming language</b></label><br>  
              <input type="radio" id="lang" name="lang" value="functional"/>fuctional <br> 
              <input type="radio" id="lang" name="lang" value="object-oriented"/>object-oriented <br>
              <input type="radio" id="lang" name="lang" value="object-based"/>object-based <br>
              <input type="radio" id="lang" name="lang" value="all"/>all<br/>


<label for="properties" style="font-size:20px"><b>properties in java are implemented using___</b></label><br>
             <input type="radio" id="properties" name="properties" value="methods"/>methods<br> 
             <input type="radio" id="properties" name="properties" value="variables"/>variables <br> 
             <input type="radio" id="properties" name="properties" value="interfaces"/>interfaces<br> 
              <input type="radio" id="properties" name="properties" value="all of these"/>all of these<br>
<label for="class" style="font-size:20px"><b>A class in java is like___?</b></label><br>
          <input type="radio" id="class" name="class" value="prototype"/>prototype <br>
          <input type="radio" id="class" name="class" value="blue print"/>blue print<br>
          <input type="radio" id="class" name="class" value="instruction sheet"/>instruction sheet <br>
          <input type="radio" id="class" name="class" value="all"/>all<br>
<label for="keyword" style="font-size:20px"><b>In java the keyword used to declare class is___?</b></label><br>
          <input type="radio" id="keyword" name="keyword" value="Class"/>Class <br> 
          <input type="radio" id="keyword" name="keyword" value="Function"/>Function <br> 
          <input type="radio" id="keyword" name="keyword" value="class"/>class <br>
          <input type="radio" id="keyword" name="keyword" value="java"/>java <br> 
<label for="obj" style="font-size:20px"><b>An object is created at __time in java</b></label><br>
          <input type="radio" id="obj" name="obj" value="compile time"/>compile time<br> 
          <input type="radio" id="obj" name="obj" value="run time"/>run time<br>
          <input type="radio" id="obj" name="obj" value="assembling time"/>assembling time<br> 
          <input type="radio" id="obj" name="obj" value="None of these"/>None of these<br>
<label for="key" style="font-size:20px"><b> In java programming language ,the code is placed inside___</b></label><br>
          <input type="radio" id="key" name="key" value="classes, interfaces"/>classes , interfaces<br>
          <input type="radio" id="key" name="key" value="methods"/>methods<br>
          <input type="radio" id="key" name="key" value="blocks"/>blocks<br>
          <input type="radio" id="key" name="key" value="all"/>all<br> 
<label for="obj" style="font-size:20px"><b>Creating an object  from class (in java )is known as__</b></label><br>
          <input type="radio" id="obj" name="obj" value="Initialising"/>Initialising<br> 
          <input type="radio" id="obj" name="obj" value="Instantianing"/>Instantianing<br>
          <input type="radio" id="obj" name="obj" value="Interfacing"/>Interfacing<br> 
          <input type="radio" id="obj" name="obj" value="None of these"/>None of these<br>
<label for="keyword" style="font-size:20px"><b>In java the keyword used to create a new object is _?</b></label><br>
          <input type="radio" id="keyword" name="keyword" value="Class"/>Class <br> 
          <input type="radio" id="keyword" name="keyword" value="new"/>new <br> 
          <input type="radio" id="keyword" name="keyword" value="New"/>New<br>
          <input type="radio" id="keyword" name="keyword" value="java"/>java <br> 
<label for="method" style="font-size:20px"><b>which of the following is correct declaration of array?</b></label><br>
         <input type="radio" id="method" name="method" value="int a[]=new int[5]"/>int a[]=new int[5]<br>
         <input type="radio" id="method" name="method" value="int a[]=new int[1,2,3,4,5]"/>int a[]=new int[1,2,3,4,5]<br>
         <input type="radio" id="method" name="method" value="both a&b"/> both a&b <br>
         <input type="radio" id="method" name="method" value="none"/>none<br>
<label for="method" style="font-size:20px"><b>which of the following method is used to convert given string into UPPER CASE?</b></label><br>
         <input type="radio" id="method" name="method" value="str.UpperCase"/>str.UpperCase<br>
         <input type="radio" id="method" name="method" value="str.LowerCase"/>str.LowerCase<br>
         <input type="radio" id="method" name="method" value="str.replace"/> str.replace<br>
         <input type="radio" id="method" name="method" value="none"/>none<br>
<input type="submit" value="submit">  

</form>   
{%endblock%}